body {
  padding-bottom: 30px;
}


.navbar {
	margin-bottom: 0;
}

.header {
	width: 50%;
	float: right;

}

.navbar-header {
	padding-bottom: 5px;
	float: right;
	vertical-align: top;
	
}

.navbar-header h1 {
	color: grey;
	float: right;
}

.navbar-header h1:hover {
	color: black;
}

.searchBar {
	margin-top: 1%;
	width: 20%;
	float: left;

}


/* Content ======================================== */
.docTheme {
    background-color: black;
}

.leftNav {	/* add rounded corner */
	position: fixed;
	top: 15%;
	left: 0;
	width: 20%;
}

.rightNav {
	position: fixed;
	right: 0;
	width: 15%;
}

.mainContent {
	background-color: yellow;
	display: block;
	margin-left: 20%;
	margin-bottom: 5%;
	width: 65%;
	border-radius: 25px;	/*radius add*/
}



.code {
	color: white;
	border: 1px solid black;
	padding: 5px;
	background-color: blue;
	width: 100%;
}